////
// Buttons
////

.button {
	background-color: $color-blue;
	color: $color-white;
	display: inline-block;
	font-size: 18px;
	@include font-smoothing;
	padding: 8px 24px;
	@include radius();
	@include transition();

	&:hover,
	&:focus {
		background-color: darken($color-blue, 10%);
		color: $color-white;
	}
} // button


// Button Colors
// ----------------------------------------

// Darker Gray
.button--gray-darker {
	background-color: $color-gray-darker;

	&:hover,
	&:focus {
		background-color: darken($color-gray-darker, 10%);
	}
}

// Gray
.button--gray {
	background-color: $color-gray;

	&:hover,
	&:focus {
		background-color: darken($color-gray, 10%);
	}
}

// Lighter Gray
.button--gray-lighter {
	background-color: $color-gray-lighter;
	color: $color-gray-darker;

	&:hover,
	&:focus {
		background-color: darken($color-gray-lighter, 10%);
		color: $color-gray-darker;
	}
}

// Green
.button--green {
	background-color: $color-green;

	&:hover,
	&:focus {
		background-color: darken($color-green, 10%);
	}
}

// Orange
.button--orange {
	background-color: $color-orange;

	&:hover,
	&:focus {
		background-color: darken($color-orange, 10%);
	}
}

// Red
.button--red {
	background-color: $color-red;

	&:hover,
	&:focus {
		background-color: darken($color-red, 10%);
	}
}


// Button Sizes
// ----------------------------------------

// X-Small
.button--xsmall {
	font-size: 12px;
	padding: 4px 12px;
}

// Small
.button--small {
	font-size: 16px;
	padding: 4px 12px;
}

// Large
.button--large {
	font-size: 20px;
	padding: 12px 36px;
}

// X-Large
.button--xlarge {
	font-size: 24px;
	padding: 12px 36px;
}


// Button Helpers
// ----------------------------------------
.button--center {
	display: table;
	margin: 0 auto;
}
