////
// Elements - Quotes
////

blockquote {
	border-left: 2px solid $color-gray-light;
	padding: 2px  20px 2px 40px;
	quotes: "“" "”";
} // blockquote

.quote {
	font-style: italic;
	text-indent: -0.42em;

	&:before {
		content: open-quote;
	}

	&:after {
		content: no-close-quote;
	}

	&:last-of-type {
		margin-bottom: 0;

		&:after {
			content: close-quote;
		}
	}
} // quote

.author {
	color: $color-gray;
}
