////
// Elements - lists
////

ul,
ol {
	margin: 10px 0 0 40px;
}

ul {
	list-style: circle outside;
}

ol {
	list-style: decimal;
}

li > {

	ul,
	ol {
		margin: 0 0 0 30px;
	}

	ol {
		list-style: circle outside;
	}
}

li {
	margin-top: 1px;
}
