////
// Settings - Colors
////

// Monochromatic Palette
// ----------------------------------------
$color-black:				#000;
$color-gray-darker:		#111;
$color-gray-dark:			#333;
$color-gray:				#777;
$color-gray-light:			#ccc;
$color-gray-lighter:		#eee;
$color-white:				#fff;

// Brand Palette
// ----------------------------------------
$color-turquoise:				#12c1fc;
$color-turquoise-highlight:	lighten($color-turquoise, 15%);
$color-turquoise-shadow:	darken($color-turquoise, 15%);

$color-blue: 				#1158d9;
$color-green:				#5cb85c;
$color-orange:				#f0ad4e;
$color-red:				#d9534f;

// Typography
// ----------------------------------------
$color-text:				$color-black;

// Links
// ----------------------------------------
$color-link:				$color-turquoise;
$color-link-hover:			$color-turquoise-shadow;
