////
// Trumps - Base
////

.center-element {
	margin-right: auto !important;
	margin-left: auto !important;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.font-normal {
	font-weight: normal !important;
}

.underline {
	text-decoration: underline !important;
}

.clear {
	clear: both !important;
	display: block !important;
	overflow: hidden !important;
	visibility: hidden !important;
}
