////
// Navigations
////

.nav {
	list-style: none;
	margin: 0;

	> li {
	 	display: block;
		position: relative;
		
		> a {
			text-decoration: none;
			display: block;
		}
	}

	ul {
		display: none;
	}
} // nav


// Mobile nav
// ----------------------------------------
.nav--mobile {
	background-color: $color-gray-darker;
	height: 100%;
	position: fixed;
	right: -100%;
	@include transition(.2s);
	top: 0;
	width: 100%;
	z-index: 9998;

	&.is-active {
		right: 0;
	}

	&__list {
		padding: 10px 0 40px 0;
	}

	&__link {
		color: $color-white;
		font-size: 18px;
		padding: 11px 0;
		text-align: center;
		@include transition();
	}
} // nav--mobile


// Nav button
// ------------------------------------------------------------
.nav-button {
	background-color: transparent;
	padding: 15px 8px 5px 8px;
	position: relative;
	@include transition();
	z-index: 9999;

	&:hover {
		background-color: transparent;
	}

	&__bar {
		background-color: $color-white;
		display: block;
		height: 2px;
		margin-bottom: 12px;
		@include transition();
		width: 32px;
	}

	// Active nav button
	&.is-active {

		.nav-button__bar {

			&:first-child {
				position: relative;
				@include rotate(45deg);
				top: 8px;
				@include transition(.2s);
			}

			&:last-child {
				position: relative;
				@include rotate(135deg);
				top: -6px;
				@include transition(.2s);
			}
		}
	} // &.is-active
} // nav-button
