////
// Elements - Pages
////

html {
	background-color: $color-purple;
	color: $color-text;
	font: {
		family: $base-font;
		size: $base-font-size;
		weight: $base-font-weight;
		style: normal;
	}
	@include font-smoothing();
	line-height: $base-line-height;
}
