////
// Settings - Globals
////

// Typography
// ----------------------------------------
$open-sans: 				'Open Sans', helvetica, sans-serif, arial;

$base-font: 				$open-sans;
$base-font-size: 			16px;
$base-line-height: 		1.5;
$base-font-weight: 		400; // regular

// UI
// ----------------------------------------
$base-spacing-unit: 		24px;
$base-radius:       			3px;

// Media Queries
// ----------------------------------------
$screen-medium: 			768px;
$screen-large: 			980px;
$screen-xlarge: 			1280px;
$screen-xxlarge: 			1580px;

// Grid System
// ----------------------------------------

// Grid settings
$grid-fixed-widths: 		false;

// Grid column amount and gutters
$grid-cols: 				12;
$grid-col-gutter-width: 	10px;

// Grid screen widths
$grid-medium: 			$screen-medium - 20px;
$grid-large: 				$screen-large - 20px;
$grid-xlarge: 				$screen-xlarge - 80px;

// Row spacing
$grid-row-with-spacing: 	60px;


// Animations
// ----------------------------------------
$cubic-bezier: 			cubic-bezier(.4,.24,.36,.98);
