// Top Margins
// ------------------------------------------------------------

// Increments of 2 from 2px to 20px
@for $i from 1 through 10 {
	.top#{$i * 2} {
		margin-top: 2px * $i !important;
	}
}

// Increments of 5 from 5px to 300px
@for $i from 1 through 60 {
	.top#{$i * 5} {
		margin-top: 5px * $i !important;
	}
}


// Top Margin Pull
// ------------------------------------------------------------

// Increments of 5 from -5px to -150px
@for $i from 1 through 30 {
	.top-pull#{$i * 5} {
		margin-top: -5px * $i !important;
	}
}


// Bottom Margins
// ------------------------------------------------------------

// Increments of 2 from 2px to 20px
@for $i from 1 through 10 {
	.bottom#{$i * 2} {
		margin-bottom: 2px * $i !important;
	}
}

// Increments of 5 from 5px to 300px
@for $i from 1 through 60 {
	.bottom#{$i * 5} {
		margin-bottom: 5px * $i !important;
	}
}


// Bottom Margin Pull
// ------------------------------------------------------------

// Increments of 5 from -5px to -150px
@for $i from 1 through 30 {
	.bottom-pull#{$i * 5} {
		margin-bottom: -5px * $i !important;
	}
}
